.android-large-2 {
    width: calc(100% - 31px);
    height: calc(100% - 1266px);
    background-color: rgba(255, 255, 255, 1);
    padding: 44px 15px 1222px 16px;
    display: flex;
    align-items: flex-start;
    position: relative;
  }
  .flex-wrapper-four {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .vector {
    width: 29.13%;
    height: 22.53%;
    margin-bottom: 25.86px;
    margin-left: 9px;
  }
  .flex-wrapper-one {
    background-color: rgba(230, 251, 255, 1);
    border-radius: 20px;
    padding: 10px 8.85px 41px 9px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: flex-start;
  }
  .current-balance {
    height: 13px;
    width: 85.15px;
    font-family: "Inter";
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
    color: rgba(114, 107, 107, 1);
    display: flex;
  }
  .flex-wrapper-two {
    background-color: rgba(247, 238, 255, 1);
    margin-top: 52px;
    margin-right: 10px;
    border-radius: 20px;
    padding: 10px 3.85px 41px 14px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: flex-start;
  }
  .flex-wrapper-five {
    padding: 1px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .rectangle-25 {
    width: 30px;
    height: 30px;
    background-color: rgba(217, 217, 217, 1);
    margin-bottom: 21px;
    margin-left: 69px;
    border-radius: 50px;
  }
  .flex-wrapper-three {
    background-color: rgba(232, 248, 245, 1);
    border-radius: 20px;
    padding: 10px 8.85px 41px 9px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: flex-start;
  }
  .rectangle-2 {
    width: 90.83%;
    height: 18.45%;
    background-color: rgba(250, 247, 242, 1);
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    position: absolute;
    right: 16px;
    top: 190px;
  }
  .rectangle-28 {
    width: 90.83%;
    height: 18.45%;
    background-color: rgba(250, 247, 242, 1);
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    position: absolute;
    right: 16px;
    top: 479px;
  }
  .rectangle-29 {
    width: 90.83%;
    height: 30.54%;
    background-color: rgba(250, 247, 242, 1);
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    position: absolute;
    right: 16px;
    bottom: 204px;
  }